<div *ngIf="show" class="side_bar h-100">
  <div class="acordian">
    <div class="acordian_heder">
      <div class="Icone">
      </div>
      <h5>Sidebar</h5>
    </div>
    <!-- <div class="acordian_content">
        <a routerLink="/cms/home" [routerLinkActive]="['activeLink']">Home</a>
        <a routerLink="/cms/about-us" [routerLinkActive]="['activeLink']">About Us</a>
        <a routerLink="/cms/scheme-of-examination" [routerLinkActive]="['activeLink']">Scheme of Examination</a>
        <a routerLink="/cms/notification" [routerLinkActive]="['activeLink']">Notification</a>
        <a routerLink="/cms/apply-online" [routerLinkActive]="['activeLink']">Apply Online</a>
        <a routerLink="/cms/download" [routerLinkActive]="['activeLink']">Downloads</a>
        <a routerLink="/cms/refund-policy" [routerLinkActive]="['activeLink']">Refund Policy</a>
        <a routerLink="/cms/rti" [routerLinkActive]="['activeLink']">RTI</a>
        <a routerLink="/cms/hyperlink-policy" [routerLinkActive]="['activeLink']">Hyperlink Policy</a>
        <a routerLink="/cms/privacy-policy" [routerLinkActive]="['activeLink']">Privacy Policy</a>
        <a routerLink="/cms/terms-condition" [routerLinkActive]="['activeLink']">Teams & Conditions</a>
        <a routerLink="/cms/help" [routerLinkActive]="['activeLink']">Help</a>
      </div> -->
  </div>
</div>